dist/
build/
tmp/
*.pyc
*.sublime-*
MANIFEST
conf/diamond.conf
storage
conf/collectors
conf/handlers
version.txt
src/diamond/version.py
.idea
src/*.egg-info
*.log
.tox
gentoo/diamond-*.ebuild
.vagrant
.python-version
