MySQL-python
PyYAML
beanstalkc
bernhard
boto
configobj
docker-py
kitchen
mock
psutil
pymongo<3.0
# Disable due to bad test cases
# https://github.com/BrightcoveOS/Diamond/issues/650
#pyrabbit
statsd
pyutmp
redis
simplejson
setproctitle
psycopg2
PySensors
