include LICENSE
include README.md
include MANIFEST.in
include bin/*
include debian/*
include conf/*.example
exclude conf/*.conf
include conf/collectors/*.conf
include test.py
include src/collectors/*
