include         LICENSE
include         README.md
include         MANIFEST.in
graft           bin
graft           debian
graft           conf
exclude         conf/*.conf
graft           src/collectors
global-exclude  */tests/*
