include         LICENSE
include         README.md
include         MANIFEST.in
include         version.txt
include         .keep
include         rpm/upstart/diamond.conf
graft           bin
graft           debian
graft           conf
exclude         conf/*.conf
graft           src/collectors
global-exclude  */tests/*
