################################################################################
# Diamond Configuration File
################################################################################

################################################################################
### Options for the server
[server]

# Handlers for published metrics.
handlers = diamond.handler.NullHandler, diamond.handler.GraphiteHandler, diamond.handler.ArchiveHandler

# User diamond will run as
user = diamond

# Group diamond will run as
group = diamond

# Log file
log_file = /opt/diamond/storage/diamond.log

# Pid file
pid_file = /opt/diamond/storage/diamond.pid

# Directory to load collector modules from
collectors_path = /opt/diamond/collectors/
 
# Directory to load collector config from 
collectors_config_path = /opt/diamond/conf/collectors/

# Interval to reload collectors 
collectors_reload_interval = 300 

################################################################################
### Options for handlers
[handlers]

### Defaults options for all Handlers 
[[default]]

[[ArchiveHandler]]

# File to write archive log files
log_file = /opt/diamond/storage/archive.log

# Number of days to keep archive log files
days = 7

[[GraphiteHandler]] 
### Options for GraphiteHandler 

# Graphtie server host
host = graphite 

# Port to send metrics to
port = 2003

# Socket timeout (seconds)
timeout = 15

[[GraphitePickleHandler]] 
### Options for GraphitePickleHandler 

# Graphtie server host
host = graphite 

# Port to send metrics to
port = 2004

# Socket timeout (seconds)
timeout = 15

# Batch size for pickled metrics
batch = 256

################################################################################
### Options for collectors
[collectors]

[[default]]
### Defaults options for all Collectors

# Path Prefix
path_prefix = nodes

# Default splay time (seconds)
splay = 1

# Default Poll Interval (seconds)
interval = 5

[[NetworkCollector]]
### Options for the NetworkCollector

# Path for network metrics
path = network

# Interface types to collect metrics on
interfaces = eth

[[CPUCollector]]
### Options for the CPUCollector 

# Path for cpu metrics
path = cpu

[[LoadAverageCollector]]
### Options for the LoadAverageCollector
path = loadavg

[[MemoryCollector]]
### Options for the MemoryCollector
path = memory

[[VMStatCollector]]
## Options for the VMStat collector
path = vmstat

[[DiskUsageCollector]]
## Options for the IO Stats collector
path = iostat

[[DiskSpaceCollector]]
## Options for the Disk Space Collector
path = diskspace
# filesystems to examine
filesystems = ext2, ext3, ext4, xfs, glusterfs, nfs

# exclude_filters
#   A list of regex patterns
#   A filesystem matching any of these patterns will be excluded from disk space
#   metrics collection.
# 
# Examples:
#       exclude_filters = ,                 # no exclude filters at all
#       exclude_filters = ^/boot, ^/mnt     # exclude everything that begins /boot or /mnt
#       exclude_filters = m,                # exclude everything that includes the letter "m"
exclude_filters = '^/export/home',

[[TCPCollector]]
## Options for the TCP Stats Collector
path = tcp
allowed_names = ListenOverflows, ListenDrops, TCPLoss, TCPTimeouts

[[FilestatCollector]]
path = files

[[SockstatCollector]]
path = sockets

[[UserScriptsCollector]]
path = .
scripts_path = /opt/diamond/user_scripts/
