################################################################################
# Diamond Configuration File
################################################################################

################################################################################
### Options for the server
[server]

# Handlers for published metrics.
handlers = diamond.handler.NullHandler, diamond.handler.GraphiteHandler, diamond.handler.ArchiveHandler

# User diamond will run as
# Leave empty to use the current user
user = diamond

# Group diamond will run as
# Leave empty to use the current group
group = diamond

# Log file
log_file = /var/log/diamond/diamond.log

# Pid file
pid_file = /var/run/diamond.pid

# Directory to load collector modules from
collectors_path = /usr/share/diamond/collectors/

# Directory to load collector config from
collectors_config_path = /etc/diamond/collectors/

# Interval to reload collectors
collectors_reload_interval = 300

################################################################################
### Options for handlers
[handlers]

### Defaults options for all Handlers
[[default]]

[[ArchiveHandler]]

# File to write archive log files
log_file = /var/log/diamond/archive.log

# Number of days to keep archive log files
days = 7

[[GraphiteHandler]]
### Options for GraphiteHandler

# Graphtie server host
host = graphite

# Port to send metrics to
port = 2003

# Socket timeout (seconds)
timeout = 15

[[GraphitePickleHandler]]
### Options for GraphitePickleHandler

# Graphtie server host
host = graphite

# Port to send metrics to
port = 2004

# Socket timeout (seconds)
timeout = 15

# Batch size for pickled metrics
batch = 256

################################################################################
### Options for collectors
[collectors]

[[default]]
### Defaults options for all Collectors

# Path Prefix
path_prefix = servers

# Default splay time (seconds)
splay = 1

# Default Poll Interval (seconds)
interval = 300

# Default collector threading model
method = Sequential

# Default numeric output
byte_unit = b
