[Unit]
Description=diamond - A system statistics collector for graphite

[Service]
# @CIS 4.2.4 Ensure permissions on all logfiles are configured
UMask=027
ExecStart=/usr/bin/python /usr/bin/diamond
ExecReload=/bin/kill -HUP $MAINPID
Type=forking
#If not using default pid, make sure you change PIDFile setting
PIDFile=/var/run/diamond.pid
#Start as last service so everything else is running first to avoid false errors in the logs
Type=idle
MemoryHigh=150M
MemoryMax=250M
MemorySwapMax=0

[Install]
WantedBy=multi-user.target
