Source: diamond
Section: misc
Priority: extra
Maintainer: Rob Smith <kormoc@gmail.com>
Homepage: https://github.com/BrightcoveOS/Diamond
Vcs-Git: git://github.com/BrightcoveOS/Diamond.git
Vcs-Browser: https://github.com/BrightcoveOS/Diamond
Build-Depends: debhelper (>= 7), python (>= 2.4), python-support, python-mock, python-configobj, cdbs
Standards-Version: 3.9.1

Package: diamond
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python (>= 2.4), python-configobj
Description: System statistics collector for Graphite.
 Diamond is a daemon and toolset for gathering system statistics
 and publishing them to Graphite.
